.button-add-movies {
  display: none;
  width: 320px;
  padding: 11px 0 9px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.25;
  color: #fff;
  background-color: #202020;
  border: 1px solid #424242;
  border-radius: 6px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.button-add-movies:hover {
  opacity: 0.8;
}

.button-add-movies_visible {
  display: block;
}

@media screen and (max-width: 480px) {
  .button-add-movies {
    width: 240px;
  }
}
