.movies-cardlist {
  max-width: 1140px;
  padding: 70px 0 28px;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 32px;
  justify-content: space-between;
}
