.profile {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background-color: #202020;
  padding: 74px 0 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile__title {
  margin: 0;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.21;
  text-align: center;
}

.profile__form {
  margin: 123px auto 0;
  display: flex;
  width: 410px;
  flex-direction: column;
  align-items: center;
}

.profile__user-info {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.profile__field {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 11px;
  font-weight: 500;
  line-height: 1.18;
  color: #fff;
}

.profile__field:not(:last-child) {
  border-bottom: 1px solid #424242;
  margin-bottom: 17px;
}

.profile__input,
.profile__edit,
.profile__logout {
  padding: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  color: #fff;
}

.profile__input {
  padding-bottom: 16px;
  flex-grow: 1;
  max-width: 85%;
  text-align: right;
  font-family: inherit;
}

.profile__edit,
.profile__logout {
  cursor: pointer;
  transition: opacity 0.3s;
}

.profile__edit {
  margin: 220px 0 0;
}

.profile__logout {
  margin: 16px 0 0;
  color: #ee3465;
}

.profile__edit:hover,
.profile__logout:hover {
  opacity: 0.8;
}
