.saved-movies {
  background-color: #202020;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  padding: 0 70px;
}

.saved-movies__search-form {
  margin: 0 auto;
}

.saved-movies__movies-cardlist {
  margin: 70px auto 90px;
}

@media screen and (max-width: 768px) {
  .saved-movies {
    padding: 0 30px;
  }
}

@media screen and (max-width: 480px) {
  .saved-movies {
    padding: 0 10px;
  }
}
