@keyframes circle-movement {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.preloader {
  display: none;
  justify-content: center;
}

.preloader_active {
  display: flex;
}

.preloader__round {
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: 13px solid rgba(255, 255, 255, 0.2);
  border-top-color: #fff;
  border-radius: 50%;
  animation: circle-movement 1.5s linear 0s infinite;
}
