.header {
  box-sizing: border-box;
  background-color: #202020;
  padding: 18px 70px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.header_type_landing {
  background-color: #073042;
}

.header__content {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__link-logo {
  display: block;
  width: 38px;
  height: 38px;
  min-width: 38px;
  transition: opacity 0.3s;
}

.header__link-logo:hover {
  opacity: 0.7;
}

.header__logo {
  display: block;
  width: 100%;
  height: 100%;
}

.header__menu {
  display: flex;
  margin: 0 auto 0 44px;
}

.header__menu_invisible {
  display: none;
}

.header__link {
  font-size: 13px;
  font-weight: 400;
  line-height: 138%;
  color: #fff;
  text-decoration: none;
  position: relative;
}

.header__link:hover {
  opacity: 0.7;
}

.header__link_active {
  font-weight: 500;
}

.header__link:not(:first-child) {
  margin-left: 16px;
}

.header__menu-auth {
  display: flex;
}

.header__link-auth {
  box-sizing: border-box;
  color: #fff;
  background-color: transparent;
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 500;
  line-height: 133%;
  transition: background-color 0.3s;
}

.header__link-auth:not(:first-child) {
  margin-left: 10px;
}

.header__link-auth_active {
  color: #000;
  background-color: #3ddc84;
}

.header__link-auth:hover {
  background-color: rgba(54, 161, 90, 0.7);
}

.header__account {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 92%;
  display: flex;
  align-items: center;
  transition: opacity 0.3s;
}

.header__account:hover {
  opacity: 0.7;
}

.header__account::after {
  content: url('./../../images/account-icon.svg');
  box-sizing: border-box;
  height: 26px;
  width: 26px;
  background-color: #313131;
  border-radius: 50%;
  margin-left: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  transition: border 0.3s;
}

.header__account:hover::after {
  border-color: #fff;
}

.header__button-menu {
  display: none;
  border: 0;
  outline: 0;
  padding: 0;
  width: 28px;
  height: 23px;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

.header__button-element,
.header__button-menu::before,
.header__button-menu::after {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #fff;
}

.header__button-menu::before,
.header__button-menu::after {
  content: '';
}

@media screen and (max-width: 768px) {
  .header {
    padding: 18px 30px;
  }

  .header__menu {
    display: none;
  }

  .header__account {
    display: none;
  }

  .header__button-menu {
    display: flex;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 18px 14px;
  }

  .header__link-auth {
    padding: 5px 12px;
    font-size: 10px;
    line-height: 160%;
  }

  .header__link-auth:not(:first-child) {
    margin-left: 2px;
  }
}
